/* Var */
:root{
    --main-font: 'Nunito Sans', sans-serif;
    --second-font: 'Open Sans', sans-serif;
    --btn-color: #FFFFFF;
    --bg-color: #28272C;
    --text-color1: #FFFFFF;
    --text-color2: #6A6A6A;
    --text-color3: red;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1088px;
    margin: 0 auto;
}
/*header*/
.first{
    width: 100%;
    height:95vh;
    background-image:url("../assets/Image.jpg");/*podłącz tło, top-bar przykl do góry */
    background-size: cover;
    background-position: center;
    position: relative;
}
.first > .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.first h1{
    color: var(--text-color1);
    font-family: var(--main-font);
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 6px #00000070;
    /*border: 1px solid red;*/
}

.text_under1{
    color: var(--text-color1);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 3px 6px #00000070;
}
.logo{
    display:flex;
    align-items: center;
    margin-left: 5%;

}
.logo p{
    font-size: 35px;
    font-family: var(--main-font);
    font-weight: 800;
    text-transform: uppercase;
    color: red;
    margin-right: 5px;
    margin-left:5px;
}

.logo p span{
    color: var(--text-color1);
}
.menu a{
    height: 100%;
    width: 100%;
}
.menu li{
    display: flex;
    height: 100%;
    align-items: center;
}
.menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color1);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    padding: 37px;
    border: 1px solid red;
    transition: 0.2s all;
}
.menu a:hover{
    background-color: #FFFFFF33;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0; /*Mówię gdzie ma zacząć się pozycjonować; względem górnego,lewego rogu */
    width: 100%;
    height: 90px;
    background-color: #00000066;
    z-index: 999; /*powinno o jeden więcej niż linki*/

}

.main-menu ul{
    height: 100%;
    display: flex;
}
/*spacja oznacza, że container jest dzieckiem.
    Każdy container wewnątrz top-bar został rozpisany*/
.top-bar .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first .buttons{
    display: flex;
    align-items: center;
}

.button{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    padding: 22px 55px;
    align-self: flex-start;
    /*align-self działa na właściwość align-items nadane przez rodzica. Dzięki niemu możemy zmienić
   wartość dla jednego elementu tak by był inny od rodzica*/
    /*border: 1px solid white;*/
    border-radius: 40px;
    transition: 0.2s all;
}
.button:hover{
    background-color: var(--bg-color);
}

.button--red{
    color:var(--text-color1);
    background-color: var(--text-color3);
    margin-right: 25px;
}

.button--white{
    color: var(--text-color3);
    background-color:var(--text-color1);
}
.first::before {
    content: url("../assets/Icon Arrow Down.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 51px;
    height: 51px;
    background-color: var(--text-color3);
    border-radius: 50%;
    box-shadow: 0px 3px 20px #FF00004D;
    z-index: 2;
}
.first::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
}
/*Main-początek*/
/*Blog*/
.blog{
    padding-top: 90px;
    padding-bottom: 100px;

}
.area-title{
    font-family: var(--main-font);
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    height: 47px;
    width: fit-content;
    text-align:center;
    position: relative;
}
.area-title::before,
.area-title::after{
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background-color: var(--text-color3);
    position: absolute;
    flex-grow: 1;
}
.area-title::before{
    left:-60px;
}
.area-title::after{
    right: -60px;
}
/*.area-title strong{*/
/*    color: black;*/
/*    display: inline-block;*/
/*    padding: 10px 30px;*/
/*}*/

.section-title .container{
    width: 1088px;
    margin: 0 auto;
    /*    niezupełnie rozumiem czemu margin: 0 auto.
    Width jest takie ponieważ taka jest szerokość strony*/
}
.blog-articles{
    display: flex;

}
[article^="article"]{
    width: 33.3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.blog-articles{
    display: flex;
    justify-content: space-between;
    /*height: auto;*/
    margin-bottom: 25px;
}
/*.article1, .article2, .article3{*/
/*    width:350px;*/
/*    height: 230px;*/
/*}*/

.blog-articles [article^="article"] img{
    width:100%;
    height: auto;
    margin-bottom: 25px;
}

h3{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color2);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    /*line-height: 26px;*/

}
p{
    font-family: var(--second-font);
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color2);
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    /*display: flex;*/
    /*justify-content: space-around;*/
}
.btn{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color1);
    border-radius:40px;
    box-shadow: 0px 3px 20px #FF00004D;
    transition: 0.2s all;
}
.article{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article img{
    width: 80%;
}
.btn--red{
    display:block;
    padding: 12px 25px;
    background-color: var(--text-color3);
}

.btn--red:hover{
    background-color: black;
}
.btn--small{
    padding: 10px 30px;
    font-size: 14px;
}

/*Service*/